nifi/templates/SFTP_INGESTION_TEMPLATE.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>8ccefd72-018f-1000-fd4d-6e2f844d02f1</groupId>
    <name>SFTP INGESTION TEMPLATE</name>
    <snippet>
        <processGroups>
            <id>f49a2610-95f1-3823-0000-000000000000</id>
            <parentGroupId>99499ee0-60e1-3610-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <versionedComponentId>f49a2610-95f1-3823-86d9-1f6fc3b07a45</versionedComponentId>
            <comments></comments>
            <contents>
                <connections>
                    <id>19d01f7b-eddf-33fa-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <versionedComponentId>19d01f7b-eddf-33fa-85b8-13698f884df7</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1176.0</x>
                        <y>725.0</y>
                    </bends>
                    <destination>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>74c29201-b39a-3d4c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>74c29201-b39a-3d4c-ae61-8e43070768ad</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>9f83ff91-bc15-3ddd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9f83ff91-bc15-3ddd-a0c0-b8b92f797443</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1c7f1a61-66fe-3bd4-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <versionedComponentId>1c7f1a61-66fe-3bd4-a300-f37a887ada05</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>9f83ff91-bc15-3ddd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9f83ff91-bc15-3ddd-a0c0-b8b92f797443</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>74c29201-b39a-3d4c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>74c29201-b39a-3d4c-ae61-8e43070768ad</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>3bbc7a66-acf3-3ebf-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <versionedComponentId>3bbc7a66-acf3-3ebf-8a3e-df4a57e44854</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>19f82ce0-7a56-3364-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>19f82ce0-7a56-3364-a9f6-acd639b11be8</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>74c29201-b39a-3d4c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>74c29201-b39a-3d4c-ae61-8e43070768ad</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>66ba20e6-27b0-38a8-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <versionedComponentId>66ba20e6-27b0-38a8-9ca8-c9016b05c264</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>c245ccc2-e47f-3f7a-0000-000000000000</id>
                        <type>FUNNEL</type>
                        <versionedComponentId>c245ccc2-e47f-3f7a-89fb-33d4f7cc5620</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>6f738103-f065-36d1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>6f738103-f065-36d1-8f22-8bad92d21d16</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>87eb3202-3a1c-3f1a-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <versionedComponentId>87eb3202-3a1c-3f1a-bb39-5cd31f5d278a</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>7cc2ddb1-4617-39fe-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>7cc2ddb1-4617-39fe-90bb-9674bf6512c5</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>retries_exceeded</selectedRelationships>
                    <source>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>9f83ff91-bc15-3ddd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9f83ff91-bc15-3ddd-a0c0-b8b92f797443</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>921dd781-9671-3450-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <versionedComponentId>921dd781-9671-3450-bec3-140c183e9131</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>79140e1e-837d-3ae7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>79140e1e-837d-3ae7-b1a0-9ee8eec25f3d</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>9f83ff91-bc15-3ddd-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>9f83ff91-bc15-3ddd-a0c0-b8b92f797443</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9c47aac6-2b95-392d-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <versionedComponentId>9c47aac6-2b95-392d-b7a5-87b1fb4f5b89</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>74c29201-b39a-3d4c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>74c29201-b39a-3d4c-ae61-8e43070768ad</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>5aa0d596-572e-35ef-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5aa0d596-572e-35ef-b818-6afbb14f4fa1</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9f533df1-1903-3ff5-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <versionedComponentId>9f533df1-1903-3ff5-87c6-1d9692ccaa1c</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>f0ac6189-153b-35dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f0ac6189-153b-35dc-a802-f69807b2497f</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>comms.failure</selectedRelationships>
                    <selectedRelationships>not.found</selectedRelationships>
                    <selectedRelationships>permission.denied</selectedRelationships>
                    <source>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>5aa0d596-572e-35ef-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5aa0d596-572e-35ef-b818-6afbb14f4fa1</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>a780e067-3f1b-3e50-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <versionedComponentId>a780e067-3f1b-3e50-b38c-7dde8448f564</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>99a4f77e-5d77-3d1a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>99a4f77e-5d77-3d1a-91f3-b051956d8a3c</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>retries_exceeded</selectedRelationships>
                    <source>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>f0ac6189-153b-35dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f0ac6189-153b-35dc-a802-f69807b2497f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c9c414cd-fc44-3267-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <versionedComponentId>c9c414cd-fc44-3267-9997-366c268ea8a9</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>11dc9aab-d30d-3e32-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>11dc9aab-d30d-3e32-9d52-429709e9a6be</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>f0ac6189-153b-35dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f0ac6189-153b-35dc-a802-f69807b2497f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d09bcd34-36ee-3cb5-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <versionedComponentId>d09bcd34-36ee-3cb5-b02d-e440e5688d99</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1176.0</x>
                        <y>477.0</y>
                    </bends>
                    <destination>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>5aa0d596-572e-35ef-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5aa0d596-572e-35ef-b818-6afbb14f4fa1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>f0ac6189-153b-35dc-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>f0ac6189-153b-35dc-a802-f69807b2497f</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d9c949a4-f2a3-3150-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <versionedComponentId>d9c949a4-f2a3-3150-ab65-58cff4dd6a64</versionedComponentId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>5aa0d596-572e-35ef-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>5aa0d596-572e-35ef-b818-6afbb14f4fa1</versionedComponentId>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f49a2610-95f1-3823-0000-000000000000</groupId>
                        <id>fb54dd49-4c7e-38b4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                        <versionedComponentId>fb54dd49-4c7e-38b4-9985-3991eabd2b95</versionedComponentId>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>89fd4e1b-5f9b-38e6-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <versionedComponentId>89fd4e1b-5f9b-38e6-8bf5-9fd950808614</versionedComponentId>
                    <bulletinLevel>WARN</bulletinLevel>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>default-credentials</key>
                            <value>
<name>default-credentials</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Access Key</key>
                            <value>
<name>Access Key</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Secret Key</key>
                            <value>
<name>Secret Key</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Credentials File</key>
                            <value>
<name>Credentials File</name>
                            </value>
                        </entry>
                        <entry>
                            <key>profile-name</key>
                            <value>
<name>profile-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>anonymous-credentials</key>
                            <value>
<name>anonymous-credentials</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Assume Role ARN</key>
                            <value>
<name>Assume Role ARN</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Assume Role Session Name</key>
                            <value>
<dependencies>
    <propertyName>Assume Role ARN</propertyName>
</dependencies>
<name>Assume Role Session Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Session Time</key>
                            <value>
<dependencies>
    <propertyName>Assume Role ARN</propertyName>
</dependencies>
<name>Session Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>assume-role-external-id</key>
                            <value>
<dependencies>
    <propertyName>Assume Role ARN</propertyName>
</dependencies>
<name>assume-role-external-id</name>
                            </value>
                        </entry>
                        <entry>
                            <key>assume-role-ssl-context-service</key>
                            <value>
<dependencies>
    <propertyName>Assume Role ARN</propertyName>
</dependencies>
<identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
<name>assume-role-ssl-context-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>assume-role-proxy-host</key>
                            <value>
<dependencies>
    <propertyName>Assume Role ARN</propertyName>
</dependencies>
<name>assume-role-proxy-host</name>
                            </value>
                        </entry>
                        <entry>
                            <key>assume-role-proxy-port</key>
                            <value>
<dependencies>
    <propertyName>Assume Role ARN</propertyName>
</dependencies>
<name>assume-role-proxy-port</name>
                            </value>
                        </entry>
                        <entry>
                            <key>assume-role-sts-region</key>
                            <value>
<dependencies>
    <propertyName>Assume Role ARN</propertyName>
</dependencies>
<name>assume-role-sts-region</name>
                            </value>
                        </entry>
                        <entry>
                            <key>assume-role-sts-endpoint</key>
                            <value>
<dependencies>
    <propertyName>Assume Role ARN</propertyName>
</dependencies>
<name>assume-role-sts-endpoint</name>
                            </value>
                        </entry>
                        <entry>
                            <key>assume-role-sts-signer-override</key>
                            <value>
<dependencies>
    <propertyName>Assume Role ARN</propertyName>
</dependencies>
<name>assume-role-sts-signer-override</name>
                            </value>
                        </entry>
                        <entry>
                            <key>custom-signer-class-name</key>
                            <value>
<dependencies>
    <dependentValues>CustomSignerType</dependentValues>
    <propertyName>assume-role-sts-signer-override</propertyName>
</dependencies>
<name>custom-signer-class-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>custom-signer-module-location</key>
                            <value>
<dependencies>
    <dependentValues>CustomSignerType</dependentValues>
    <propertyName>assume-role-sts-signer-override</propertyName>
</dependencies>
<name>custom-signer-module-location</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>AWSCredentialsProviderControllerService</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>default-credentials</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Access Key</key>
                        </entry>
                        <entry>
                            <key>Secret Key</key>
                        </entry>
                        <entry>
                            <key>Credentials File</key>
                        </entry>
                        <entry>
                            <key>profile-name</key>
                        </entry>
                        <entry>
                            <key>anonymous-credentials</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>Assume Role ARN</key>
                        </entry>
                        <entry>
                            <key>Assume Role Session Name</key>
                        </entry>
                        <entry>
                            <key>Session Time</key>
                            <value>3600</value>
                        </entry>
                        <entry>
                            <key>assume-role-external-id</key>
                        </entry>
                        <entry>
                            <key>assume-role-ssl-context-service</key>
                        </entry>
                        <entry>
                            <key>assume-role-proxy-host</key>
                        </entry>
                        <entry>
                            <key>assume-role-proxy-port</key>
                        </entry>
                        <entry>
                            <key>assume-role-sts-region</key>
                            <value>us-west-2</value>
                        </entry>
                        <entry>
                            <key>assume-role-sts-endpoint</key>
                        </entry>
                        <entry>
                            <key>assume-role-sts-signer-override</key>
                            <value>Default Signature</value>
                        </entry>
                        <entry>
                            <key>custom-signer-class-name</key>
                        </entry>
                        <entry>
                            <key>custom-signer-module-location</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderControllerService</type>
                </controllerServices>
                <funnels>
                    <id>c245ccc2-e47f-3f7a-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>2624.0</x>
                        <y>800.0</y>
                    </position>
                    <versionedComponentId>c245ccc2-e47f-3f7a-89fb-33d4f7cc5620</versionedComponentId>
                </funnels>
                <labels>
                    <id>92ae22b7-7960-36a5-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>2440.0</x>
                        <y>440.0</y>
                    </position>
                    <versionedComponentId>92ae22b7-7960-36a5-bbba-307574e8a87f</versionedComponentId>
                    <height>440.0</height>
                    <label>Checking ingested files written on bucket datalake-landing</label>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#d6e0ff</value>
                        </entry>
                        <entry>
                            <key>font-size</key>
                            <value>14px</value>
                        </entry>
                    </style>
                    <width>416.0</width>
                    <zIndex>0</zIndex>
                </labels>
                <processors>
                    <id>11dc9aab-d30d-3e32-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>1952.0</x>
                        <y>488.0</y>
                    </position>
                    <versionedComponentId>11dc9aab-d30d-3e32-9d52-429709e9a6be</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>SFTP_INGESTION</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Something went wrong with SFTP server, retrying...</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Log Warning</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#fafa05</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>19f82ce0-7a56-3364-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>680.0</x>
                        <y>984.0</y>
                    </position>
                    <versionedComponentId>19f82ce0-7a56-3364-a9f6-acd639b11be8</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>SFTP_INGESTION</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>File ${filename} has been ingested successfully.</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Log Success</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#05f725</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>5aa0d596-572e-35ef-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>680.0</x>
                        <y>488.0</y>
                    </position>
                    <versionedComponentId>5aa0d596-572e-35ef-b818-6afbb14f4fa1</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>
    <name>Port</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Path</key>
<value>
    <name>Private Key Path</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
<value>
    <name>Private Key Passphrase</name>
</value>
                            </entry>
                            <entry>
<key>Remote File</key>
<value>
    <name>Remote File</name>
</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>
    <name>Completion Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
<value>
    <name>Move Destination Directory</name>
</value>
                            </entry>
                            <entry>
<key>Create Directory</key>
<value>
    <name>Create Directory</name>
</value>
                            </entry>
                            <entry>
<key>Disable Directory Listing</key>
<value>
    <name>Disable Directory Listing</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>
    <name>Data Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>
    <name>Send Keep Alive On Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
<value>
    <name>Host Key File</name>
</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>
    <name>Strict Host Key Checking</name>
</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>
    <name>Use Compression</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
<value>
    <name>Http Proxy Username</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
<value>
    <name>Http Proxy Password</name>
</value>
                            </entry>
                            <entry>
<key>fetchfiletransfer-notfound-loglevel</key>
<value>
    <name>fetchfiletransfer-notfound-loglevel</name>
</value>
                            </entry>
                            <entry>
<key>Ciphers Allowed</key>
<value>
    <name>Ciphers Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Key Algorithms Allowed</key>
<value>
    <name>Key Algorithms Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Key Exchange Algorithms Allowed</key>
<value>
    <name>Key Exchange Algorithms Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Message Authentication Codes Allowed</key>
<value>
    <name>Message Authentication Codes Allowed</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Hostname</key>
<value>${sftp_host}</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>${sftp_port}</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>${sftp_user}</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Private Key Path</key>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
                            </entry>
                            <entry>
<key>Remote File</key>
<value>${path}/${filename}</value>
                            </entry>
                            <entry>
<key>Completion Strategy</key>
<value>None</value>
                            </entry>
                            <entry>
<key>Move Destination Directory</key>
                            </entry>
                            <entry>
<key>Create Directory</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Disable Directory Listing</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>false</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>DIRECT</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
                            </entry>
                            <entry>
<key>fetchfiletransfer-notfound-loglevel</key>
<value>ERROR</value>
                            </entry>
                            <entry>
<key>Ciphers Allowed</key>
                            </entry>
                            <entry>
<key>Key Algorithms Allowed</key>
                            </entry>
                            <entry>
<key>Key Exchange Algorithms Allowed</key>
                            </entry>
                            <entry>
<key>Message Authentication Codes Allowed</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>FetchSFTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>comms.failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>not.found</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>permission.denied</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.FetchSFTP</type>
                </processors>
                <processors>
                    <id>6f738103-f065-36d1-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>2472.0</x>
                        <y>504.0</y>
                    </position>
                    <versionedComponentId>6f738103-f065-36d1-8f22-8bad92d21d16</versionedComponentId>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>listing-strategy</key>
<value>
    <name>listing-strategy</name>
</value>
                            </entry>
                            <entry>
<key>et-state-cache</key>
<value>
    <dependencies>
        <dependentValues>entities</dependentValues>
        <propertyName>listing-strategy</propertyName>
    </dependencies>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>et-state-cache</name>
</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>
    <dependencies>
        <dependentValues>entities</dependentValues>
        <propertyName>listing-strategy</propertyName>
    </dependencies>
    <name>et-initial-listing-target</name>
</value>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>
    <dependencies>
        <dependentValues>window</dependentValues>
        <propertyName>et-initial-listing-target</propertyName>
    </dependencies>
    <name>et-time-window</name>
</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>min-age</key>
<value>
    <name>min-age</name>
</value>
                            </entry>
                            <entry>
<key>max-age</key>
<value>
    <name>max-age</name>
</value>
                            </entry>
                            <entry>
<key>Listing Batch Size</key>
<value>
    <name>Listing Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>write-s3-object-tags</key>
<value>
    <name>write-s3-object-tags</name>
</value>
                            </entry>
                            <entry>
<key>write-s3-user-metadata</key>
<value>
    <name>write-s3-user-metadata</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>custom-signer-class-name</key>
<value>
    <dependencies>
        <dependentValues>CustomSignerType</dependentValues>
        <propertyName>Signer Override</propertyName>
    </dependencies>
    <name>custom-signer-class-name</name>
</value>
                            </entry>
                            <entry>
<key>custom-signer-module-location</key>
<value>
    <dependencies>
        <dependentValues>CustomSignerType</dependentValues>
        <propertyName>Signer Override</propertyName>
    </dependencies>
    <name>custom-signer-module-location</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                            <entry>
<key>delimiter</key>
<value>
    <name>delimiter</name>
</value>
                            </entry>
                            <entry>
<key>prefix</key>
<value>
    <name>prefix</name>
</value>
                            </entry>
                            <entry>
<key>use-versions</key>
<value>
    <name>use-versions</name>
</value>
                            </entry>
                            <entry>
<key>list-type</key>
<value>
    <name>list-type</name>
</value>
                            </entry>
                            <entry>
<key>requester-pays</key>
<value>
    <name>requester-pays</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>listing-strategy</key>
<value>timestamps</value>
                            </entry>
                            <entry>
<key>et-state-cache</key>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>all</value>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>3 hours</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>datalake-landing</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>us-east-1</value>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>record-writer</key>
                            </entry>
                            <entry>
<key>min-age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>max-age</key>
                            </entry>
                            <entry>
<key>Listing Batch Size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>write-s3-object-tags</key>
<value>false</value>
                            </entry>
                            <entry>
<key>write-s3-user-metadata</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>/opt/nifi/nifi-current/minio_sites/s3.properties</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>http://minio:9000</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>AWSS3V4SignerType</value>
                            </entry>
                            <entry>
<key>custom-signer-class-name</key>
                            </entry>
                            <entry>
<key>custom-signer-module-location</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                            <entry>
<key>delimiter</key>
                            </entry>
                            <entry>
<key>prefix</key>
                            </entry>
                            <entry>
<key>use-versions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>list-type</key>
<value>1</value>
                            </entry>
                            <entry>
<key>requester-pays</key>
<value>false</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>ListS3</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.ListS3</type>
                </processors>
                <processors>
                    <id>74c29201-b39a-3d4c-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>680.0</x>
                        <y>736.0</y>
                    </position>
                    <versionedComponentId>74c29201-b39a-3d4c-ae61-8e43070768ad</versionedComponentId>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Object Key</key>
<value>
    <name>Object Key</name>
</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Content Type</key>
<value>
    <name>Content Type</name>
</value>
                            </entry>
                            <entry>
<key>Content Disposition</key>
<value>
    <name>Content Disposition</name>
</value>
                            </entry>
                            <entry>
<key>Cache Control</key>
<value>
    <name>Cache Control</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>s3-object-tags-prefix</key>
<value>
    <name>s3-object-tags-prefix</name>
</value>
                            </entry>
                            <entry>
<key>s3-object-remove-tags-prefix</key>
<value>
    <name>s3-object-remove-tags-prefix</name>
</value>
                            </entry>
                            <entry>
<key>Storage Class</key>
<value>
    <name>Storage Class</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Expiration Time Rule</key>
<value>
    <name>Expiration Time Rule</name>
</value>
                            </entry>
                            <entry>
<key>FullControl User List</key>
<value>
    <name>FullControl User List</name>
</value>
                            </entry>
                            <entry>
<key>Read Permission User List</key>
<value>
    <name>Read Permission User List</name>
</value>
                            </entry>
                            <entry>
<key>Write Permission User List</key>
<value>
    <name>Write Permission User List</name>
</value>
                            </entry>
                            <entry>
<key>Read ACL User List</key>
<value>
    <name>Read ACL User List</name>
</value>
                            </entry>
                            <entry>
<key>Write ACL User List</key>
<value>
    <name>Write ACL User List</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>canned-acl</key>
<value>
    <name>canned-acl</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>custom-signer-class-name</key>
<value>
    <dependencies>
        <dependentValues>CustomSignerType</dependentValues>
        <propertyName>Signer Override</propertyName>
    </dependencies>
    <name>custom-signer-class-name</name>
</value>
                            </entry>
                            <entry>
<key>custom-signer-module-location</key>
<value>
    <dependencies>
        <dependentValues>CustomSignerType</dependentValues>
        <propertyName>Signer Override</propertyName>
    </dependencies>
    <name>custom-signer-module-location</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Threshold</key>
<value>
    <name>Multipart Threshold</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Part Size</key>
<value>
    <name>Multipart Part Size</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Upload AgeOff Interval</key>
<value>
    <name>Multipart Upload AgeOff Interval</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Upload Max Age Threshold</key>
<value>
    <name>Multipart Upload Max Age Threshold</name>
</value>
                            </entry>
                            <entry>
<key>s3-temporary-directory-multipart</key>
<value>
    <name>s3-temporary-directory-multipart</name>
</value>
                            </entry>
                            <entry>
<key>server-side-encryption</key>
<value>
    <name>server-side-encryption</name>
</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.s3.AmazonS3EncryptionService</identifiesControllerService>
    <name>encryption-service</name>
</value>
                            </entry>
                            <entry>
<key>use-chunked-encoding</key>
<value>
    <name>use-chunked-encoding</name>
</value>
                            </entry>
                            <entry>
<key>use-path-style-access</key>
<value>
    <name>use-path-style-access</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Object Key</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>datalake-landing</value>
                            </entry>
                            <entry>
<key>Content Type</key>
                            </entry>
                            <entry>
<key>Content Disposition</key>
                            </entry>
                            <entry>
<key>Cache Control</key>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>/opt/nifi/nifi-current/minio_sites/s3.properties</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
                            </entry>
                            <entry>
<key>s3-object-tags-prefix</key>
                            </entry>
                            <entry>
<key>s3-object-remove-tags-prefix</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Storage Class</key>
<value>Standard</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>us-east-1</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>60 secs</value>
                            </entry>
                            <entry>
<key>Expiration Time Rule</key>
                            </entry>
                            <entry>
<key>FullControl User List</key>
<value>${s3.permissions.full.users}</value>
                            </entry>
                            <entry>
<key>Read Permission User List</key>
<value>${s3.permissions.read.users}</value>
                            </entry>
                            <entry>
<key>Write Permission User List</key>
<value>${s3.permissions.write.users}</value>
                            </entry>
                            <entry>
<key>Read ACL User List</key>
<value>${s3.permissions.readacl.users}</value>
                            </entry>
                            <entry>
<key>Write ACL User List</key>
<value>${s3.permissions.writeacl.users}</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>${s3.owner}</value>
                            </entry>
                            <entry>
<key>canned-acl</key>
<value>${s3.permissions.cannedacl}</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>http://minio:9000</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>AWSS3V4SignerType</value>
                            </entry>
                            <entry>
<key>custom-signer-class-name</key>
                            </entry>
                            <entry>
<key>custom-signer-module-location</key>
                            </entry>
                            <entry>
<key>Multipart Threshold</key>
<value>5 GB</value>
                            </entry>
                            <entry>
<key>Multipart Part Size</key>
<value>5 GB</value>
                            </entry>
                            <entry>
<key>Multipart Upload AgeOff Interval</key>
<value>60 min</value>
                            </entry>
                            <entry>
<key>Multipart Upload Max Age Threshold</key>
<value>7 days</value>
                            </entry>
                            <entry>
<key>s3-temporary-directory-multipart</key>
<value>${java.io.tmpdir}</value>
                            </entry>
                            <entry>
<key>server-side-encryption</key>
<value>None</value>
                            </entry>
                            <entry>
<key>encryption-service</key>
                            </entry>
                            <entry>
<key>use-chunked-encoding</key>
<value>true</value>
                            </entry>
                            <entry>
<key>use-path-style-access</key>
<value>false</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutS3Object</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
                </processors>
                <processors>
                    <id>79140e1e-837d-3ae7-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>1952.0</x>
                        <y>728.0</y>
                    </position>
                    <versionedComponentId>79140e1e-837d-3ae7-b1a0-9ee8eec25f3d</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>SFTP_INGESTION</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>Something went wrong with MinIO service, retrying...</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Log Warning</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#fafa05</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>7cc2ddb1-4617-39fe-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>1952.0</x>
                        <y>952.0</y>
                    </position>
                    <versionedComponentId>7cc2ddb1-4617-39fe-90bb-9674bf6512c5</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>SFTP_INGESTION</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>All retries has been exceeded, something went wrong with MinIO service.</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Log Failure</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#f70505</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>99a4f77e-5d77-3d1a-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>1952.0</x>
                        <y>272.0</y>
                    </position>
                    <versionedComponentId>99a4f77e-5d77-3d1a-91f3-b051956d8a3c</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>log-level</key>
<value>
    <name>log-level</name>
</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>
    <name>log-prefix</name>
</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>
    <name>log-message</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>log-level</key>
<value>error</value>
                            </entry>
                            <entry>
<key>log-prefix</key>
<value>SFTP_INGESTION</value>
                            </entry>
                            <entry>
<key>log-message</key>
<value>All retries has been exceeded, something went wrong with SFTP server.</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>25</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Log Failure</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style>
                        <entry>
                            <key>background-color</key>
                            <value>#f70505</value>
                        </entry>
                    </style>
                    <type>org.apache.nifi.processors.standard.LogMessage</type>
                </processors>
                <processors>
                    <id>9f83ff91-bc15-3ddd-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>1320.0</x>
                        <y>736.0</y>
                    </position>
                    <versionedComponentId>9f83ff91-bc15-3ddd-a0c0-b8b92f797443</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>retry-attribute</key>
<value>
    <name>retry-attribute</name>
</value>
                            </entry>
                            <entry>
<key>maximum-retries</key>
<value>
    <name>maximum-retries</name>
</value>
                            </entry>
                            <entry>
<key>penalize-retries</key>
<value>
    <name>penalize-retries</name>
</value>
                            </entry>
                            <entry>
<key>Fail on Non-numerical Overwrite</key>
<value>
    <name>Fail on Non-numerical Overwrite</name>
</value>
                            </entry>
                            <entry>
<key>reuse-mode</key>
<value>
    <name>reuse-mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>retry-attribute</key>
<value>flowfile.retries</value>
                            </entry>
                            <entry>
<key>maximum-retries</key>
<value>3</value>
                            </entry>
                            <entry>
<key>penalize-retries</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Fail on Non-numerical Overwrite</key>
<value>false</value>
                            </entry>
                            <entry>
<key>reuse-mode</key>
<value>fail</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RetryFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retries_exceeded</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RetryFlowFile</type>
                </processors>
                <processors>
                    <id>f0ac6189-153b-35dc-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>1320.0</x>
                        <y>488.0</y>
                    </position>
                    <versionedComponentId>f0ac6189-153b-35dc-a802-f69807b2497f</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>retry-attribute</key>
<value>
    <name>retry-attribute</name>
</value>
                            </entry>
                            <entry>
<key>maximum-retries</key>
<value>
    <name>maximum-retries</name>
</value>
                            </entry>
                            <entry>
<key>penalize-retries</key>
<value>
    <name>penalize-retries</name>
</value>
                            </entry>
                            <entry>
<key>Fail on Non-numerical Overwrite</key>
<value>
    <name>Fail on Non-numerical Overwrite</name>
</value>
                            </entry>
                            <entry>
<key>reuse-mode</key>
<value>
    <name>reuse-mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>retry-attribute</key>
<value>flowfile.retries</value>
                            </entry>
                            <entry>
<key>maximum-retries</key>
<value>3</value>
                            </entry>
                            <entry>
<key>penalize-retries</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Fail on Non-numerical Overwrite</key>
<value>false</value>
                            </entry>
                            <entry>
<key>reuse-mode</key>
<value>fail</value>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>RetryFlowFile</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retries_exceeded</name>
                        <retry>false</retry>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.RetryFlowFile</type>
                </processors>
                <processors>
                    <id>fb54dd49-4c7e-38b4-0000-000000000000</id>
                    <parentGroupId>f49a2610-95f1-3823-0000-000000000000</parentGroupId>
                    <position>
                        <x>680.0</x>
                        <y>232.0</y>
                    </position>
                    <versionedComponentId>fb54dd49-4c7e-38b4-9985-3991eabd2b95</versionedComponentId>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.23.1</version>
                    </bundle>
                    <config>
                        <backoffMechanism>PENALIZE_FLOWFILE</backoffMechanism>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>listing-strategy</key>
<value>
    <name>listing-strategy</name>
</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>
    <name>Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>
    <name>Port</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Path</key>
<value>
    <name>Private Key Path</name>
</value>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
<value>
    <name>Private Key Passphrase</name>
</value>
                            </entry>
                            <entry>
<key>Remote Path</key>
<value>
    <name>Remote Path</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>Distributed Cache Service</name>
</value>
                            </entry>
                            <entry>
<key>Search Recursively</key>
<value>
    <name>Search Recursively</name>
</value>
                            </entry>
                            <entry>
<key>follow-symlink</key>
<value>
    <name>follow-symlink</name>
</value>
                            </entry>
                            <entry>
<key>File Filter Regex</key>
<value>
    <name>File Filter Regex</name>
</value>
                            </entry>
                            <entry>
<key>Path Filter Regex</key>
<value>
    <name>Path Filter Regex</name>
</value>
                            </entry>
                            <entry>
<key>Ignore Dotted Files</key>
<value>
    <name>Ignore Dotted Files</name>
</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>
    <name>Strict Host Key Checking</name>
</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
<value>
    <name>Host Key File</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>
    <name>Data Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>
    <name>Send Keep Alive On Timeout</name>
</value>
                            </entry>
                            <entry>
<key>target-system-timestamp-precision</key>
<value>
    <name>target-system-timestamp-precision</name>
</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>
    <name>Use Compression</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
<value>
    <name>Http Proxy Username</name>
</value>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
<value>
    <name>Http Proxy Password</name>
</value>
                            </entry>
                            <entry>
<key>et-state-cache</key>
<value>
    <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
    <name>et-state-cache</name>
</value>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>
    <name>et-time-window</name>
</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>
    <name>et-initial-listing-target</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>
    <name>Minimum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
<value>
    <name>Maximum File Age</name>
</value>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>
    <name>Minimum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
<value>
    <name>Maximum File Size</name>
</value>
                            </entry>
                            <entry>
<key>Ciphers Allowed</key>
<value>
    <name>Ciphers Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Key Algorithms Allowed</key>
<value>
    <name>Key Algorithms Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Key Exchange Algorithms Allowed</key>
<value>
    <name>Key Exchange Algorithms Allowed</name>
</value>
                            </entry>
                            <entry>
<key>Message Authentication Codes Allowed</key>
<value>
    <name>Message Authentication Codes Allowed</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <maxBackoffPeriod>10 mins</maxBackoffPeriod>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>listing-strategy</key>
<value>timestamps</value>
                            </entry>
                            <entry>
<key>Hostname</key>
<value>${sftp_host}</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>22</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>${sftp_user}</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Private Key Path</key>
                            </entry>
                            <entry>
<key>Private Key Passphrase</key>
                            </entry>
                            <entry>
<key>Remote Path</key>
<value>${sftp_path}</value>
                            </entry>
                            <entry>
<key>record-writer</key>
                            </entry>
                            <entry>
<key>Distributed Cache Service</key>
                            </entry>
                            <entry>
<key>Search Recursively</key>
<value>false</value>
                            </entry>
                            <entry>
<key>follow-symlink</key>
<value>false</value>
                            </entry>
                            <entry>
<key>File Filter Regex</key>
                            </entry>
                            <entry>
<key>Path Filter Regex</key>
                            </entry>
                            <entry>
<key>Ignore Dotted Files</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Strict Host Key Checking</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Host Key File</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>30 sec</value>
                            </entry>
                            <entry>
<key>Send Keep Alive On Timeout</key>
<value>true</value>
                            </entry>
                            <entry>
<key>target-system-timestamp-precision</key>
<value>auto-detect</value>
                            </entry>
                            <entry>
<key>Use Compression</key>
<value>false</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>DIRECT</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Http Proxy Username</key>
                            </entry>
                            <entry>
<key>Http Proxy Password</key>
                            </entry>
                            <entry>
<key>et-state-cache</key>
                            </entry>
                            <entry>
<key>et-time-window</key>
<value>3 hours</value>
                            </entry>
                            <entry>
<key>et-initial-listing-target</key>
<value>all</value>
                            </entry>
                            <entry>
<key>Minimum File Age</key>
<value>0 sec</value>
                            </entry>
                            <entry>
<key>Maximum File Age</key>
                            </entry>
                            <entry>
<key>Minimum File Size</key>
<value>0 B</value>
                            </entry>
                            <entry>
<key>Maximum File Size</key>
                            </entry>
                            <entry>
<key>Ciphers Allowed</key>
                            </entry>
                            <entry>
<key>Key Algorithms Allowed</key>
                            </entry>
                            <entry>
<key>Key Exchange Algorithms Allowed</key>
                            </entry>
                            <entry>
<key>Message Authentication Codes Allowed</key>
                            </entry>
                        </properties>
                        <retryCount>10</retryCount>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>1 min</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>ListSFTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                        <retry>false</retry>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ListSFTP</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>SFTP INGESTION</name>
            <variables>
                <entry>
                    <key>sftp_user</key>
                    <value>foo</value>
                </entry>
                <entry>
                    <key>sftp_path</key>
                    <value>./upload</value>
                </entry>
                <entry>
                    <key>sftp_host</key>
                    <value>sftp</value>
                </entry>
                <entry>
                    <key>sftp_port</key>
                    <value>22</value>
                </entry>
            </variables>
        </processGroups>
    </snippet>
    <timestamp>05/18/2024 19:52:27 UTC</timestamp>
</template>
